*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body{
  background-color: rgb(58, 12, 12);
}

.container{
  width: 70%;
  margin: 0 auto;
  
}

.navbar{
  display: flex;
  height: 30px;
  justify-content: space-between;
}

header{
  height: 60px;
  background-color: #add8e6;
  justify-content: space-between;
  padding-top: 15px;
  padding-bottom: 15px;
  
}

nav{
  width: 70%;
  background-color: #daa520;
  border: 2px dashed black;
}

nav ul{
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  
}

nav ul li{
  vertical-align: 30px;
  line-height: 30px;
  margin-right: 10px;
  
}
nav ul li a{
  text-decoration: none;
}

.logo{
  width: 15%;
  border: 2px dashed black;
  align-items: center;
  background-color: #daa520;
  
  
  
}

span{
  /* height: 110; */
  width: 100%;
  align-items: center;
  vertical-align: 30px;
  line-height: 30px;
  
  
}

.accesso{
  width: 15%;
  border: 2px dashed black;
  background-color: #daa520;
}

.jumbodrill{
  height: 400px;
  background-color: #00008b;
  padding-bottom: 40px;
  padding-top: 40px;
}

.section-jumbo{
  width: 1000px;
  height: 100%;
  background-color: #ee82ee;
  margin: 0 auto;
  border: 2px dashed black;
}

.section-paolo{
  height: 600px;
  background-color: #ffffff;
  padding-top: 50px;
  padding-bottom: 50px;
  
}

.cont{
  display: flex;
}

.blocco1{
  height: 500px;
  background-color: #1e90ff;
  width: 60%;
  display: inline-block;
  border: 2px dashed black;
}

.blocco2{
  height: 500px;
  background-color: #ffc0cb;
  width: 40%;
  border: 2px dashed black;
}

.section-franco{
  height: 600px;
  background-color: #d3d3d3;
  padding-top: 50px;
  padding-bottom: 50px;
}

.section-ted{
  height: 1000px;
  background-color: #d3d3d3;
  padding-top: 50px;
  padding-bottom: 50px;
}

.blocco3{
  height: 900px;
  background-color: #228b22;
  width: 100%;
  border: 2px dashed black;
}

.section-bob{
  background-color: #23272a;
  padding-top: 50px;
  padding-bottom: 50px;
  border-bottom: 1px solid white;
}

.blocco4{
  height: 500px;
  width: 30%;
  background-color: #ffc0cb;
  border: 2px dashed black;
}

.blocco5{
  width: 70%;
  height: 500 px;
  background-color: red;
  border: 2px dashed black;
}

/* .divisione{
  width: calc(100% / 4);
  height: 500px;
  background-color: #add8e6;
  border: 2px dashed black;
} */

footer{
  background-color: #23272a;
  padding-top: 20px;
  
}

.fine{
  height: 70px;
  background-color: #7fffd4;
  display: flex;
  padding-top: 25px;
  padding-bottom: 25px;
  
}

